@use "abstracts/fonts" as fonts;
@use "abstracts/mixins" as mixins;
@use "abstracts/variables" as vars;

.mm-navbar {
  position: relative;
  background: vars.$bg-cream;
  z-index: 1000;

  .mm-navbar__wrap, &__brand img,
  .mm-navbar__menu .mm-navbar__link,
  .mm-navbar__right .mm-navbar__phone-icon,
  .mm-navbar__right .mm-navbar__phone-text,
  .mm-navbar__lang {
    transition:
            width       0.8s ease,
            height      0.8s ease,
            font-size   0.8s ease,
            line-height 0.8s ease,
            margin      0.8s ease,
            padding     0.8s ease;
  }

  // Bottom gray rule
  &__rule {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #D1D1D1;
  }

  // Navbar wrapper
  .navbar.mm-navbar__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 108px;
//    padding: 0  mixins.fluid-range(16px, 80px, 320, 1200);
    @include mixins.fluid-range(padding-left,  16px, 80px,  320, 1200);
    @include mixins.fluid-range(padding-right, 16px, 80px,  320, 1200);

    @media (min-width: 992px) {
      padding-left: 56px;
      padding-right: 56px;
    }
    @media (min-width: 1200px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  // Logo
  .navbar-brand.mm-navbar__brand {
    flex: 0 0 auto;
    @include mixins.fluid-range(margin-right, 30px, 60px, 320, 1200);

    img {
      transition:all ease .3s;
      @include mixins.fluid-range(width, 64px, 121px, 320, 1200);
      height: auto !important;
    }
  }

  // Toggler icon
  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
    @media (min-width: 992px) {
      display: none;
    }
  }

  // Collapse behavior
  .navbar-collapse {
    @media (max-width: 991.98px) {
      position: static !important;
      width: 100% !important;
      background: vars.$bg-cream;
      flex-basis: 100%;
    }
    @media (min-width: 992px) {
      justify-content: center;
    }
  }

  // Menu items
  .navbar-nav.mm-navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 992px) {
      flex-direction: row;
      @include mixins.fluid-range(gap, 38px, 58px, 320, 1200);
      width: auto;
    }

    .nav-item {
      @media (max-width: 991.98px) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      @media (min-width: 992px) {
        border: none;
      }
    }

    .nav-link.mm-navbar__link {
      position: relative;
      //padding: mixins.fluid-range(8px, 16px, 320, 1200) mixins.fluid-range(12px, 24px, 320, 1200);
      @include mixins.fluid-range(padding-left,  8px, 16px, 320, 1200);
      @include mixins.fluid-range(padding-right, 12px, 24px, 320, 1200);
      font-family: fonts.$font-head;
      font-weight: 200;
      @include mixins.fluid-range(font-size, 16px, 18px, 320, 1200);
      @include mixins.fluid-range(line-height, 22px, 24px, 320, 1200);
      color: vars.$text-900;
      text-decoration: none;

      &:hover,
      &.active {
        color: vars.$text-900;
      }

      .mm-navbar__underline {
        position: absolute;
        bottom: 0;
        left: 60%;
        width: 70%;
        height: 5px;
        background: #E21E26;
        opacity: 0;
        top: 69px;
        transform: translateX(-70%);
      }
      &.active .mm-navbar__underline {
        opacity: 1;
      }
    }
  }

  // Phone + Language
  .mm-navbar__right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    @media (max-width: 991.98px) {
      order: 3;
      margin-top: 1rem;
    }
    @include mixins.fluid-range(gap, 56px, 72px, 320, 1200);

    .mm-navbar__phone {
      display: flex;
      align-items: center;
      @include mixins.fluid-range(gap, 4px, 6px, 320, 1200);
      color: vars.$text-900;
      text-decoration: none;

      &-icon {
        @include mixins.fluid-range(width, 16px, 16px, 320, 1200);
        @include mixins.fluid-range(height, 21px, 21px, 320, 1200);
      }

      &-text {
        font-family: fonts.$font-head;
        font-weight: 200;
        @include mixins.fluid-range(font-size, 16px, 16px, 320, 1200);
        @include mixins.fluid-range(line-height, 21px, 21px, 320, 1200);
      }
    }

    .mm-navbar__lang {
      @include mixins.fluid-range(width, 32px, 48px, 320, 1200);
      @include mixins.fluid-range(height, 32px, 48px, 320, 1200);
      border-radius: 50%;
      background: vars.$primary;
      color: #fff;
      font-family: fonts.$font-head;
      font-weight: 200;
      @include mixins.fluid-range(font-size, 16px, 16px, 320, 1200);
      @include mixins.fluid-range(line-height, 21px, 21px, 320, 1200);
      border: none;
      //margin-left: mixins.fluid-range(8px, 12px, 320, 1200) !important;
      @include mixins.fluid-range(padding-left,  8px, 16px, 320, 1200);
      @include mixins.fluid-range(padding-right, 12px, 24px, 320, 1200);
    }
  }

  // Mobile ordering
  @media (max-width: 991.98px) {
    .navbar.mm-navbar__wrap {
      flex-wrap: wrap;
      align-items: center !important;
    }
    .mm-navbar__brand { order: 1; }
    .navbar-toggler  { order: 2; }
    .mm-navbar__right { order: 3; margin-top: 0 !important; }
    .navbar-collapse  { order: 4; margin-top: 1rem; }
    .navbar-collapse.show + .mm-navbar__right { display: none !important; }
  }
}